/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */

body {
    background-color: #6ab0e3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/public/image/bgPoint.png'); /* Menambahkan background image */
    background-size: cover; /* Membuat gambar sesuai dengan ukuran elemen */
    background-position: center; /* Memusatkan gambar di dalam elemen */
    background-repeat: no-repeat;
  }
  
  .App {
    text-align: center;
    width: 100%;
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
    --tw-scroll-snap-strictness: mandatory;
    height: 100dvh;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }
  
  .product-section {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .App-header {
    background-color: #FDDE55;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 600px;
    height: fit-content;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
  }
  
  .product-container {
    margin-top: 2rem;
    display: flex;
    gap: 100px;
    width: 100vw;
    overflow-y: auto;
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
    --tw-scroll-snap-strictness: mandatory;
  }
  
  .product-box {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    min-width: 400px;
    max-height: 600px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: black;
  }
  
  .product-box:hover {
    transform: translateY(-5px);
  }
  
  .product-box:active {
    transform: translateY(0);
  }

  .product-box img {
    width: 100px;
    height: 200px;
    border-radius: 15px;
  }